@page "/"
@attribute [Authorize]
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization

<PageTitle>Index</PageTitle>

<h1>Bienvenidos al sistema de IGP</h1>

@*Welcome to your new app.
*@

